.modal-overlay{
    display: none;
    position: fixed;
    background: rgba(51, 51, 212, 0.4);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.modal{
    max-width: 555px;
    text-align: center;
    background: white;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close{
    font-weight: bold;
    font-size: 30px;
    color: #3040C4;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 15px;
}

.modal-content > p{
    border: 2px solid #3040C4;
    border-radius: 15px;
    font-size: 16px;
    font-style: italic;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

#up{
position: fixed;
bottom: 50px;
right: 50px;
background: #F3C6BD;
padding: 12px 15px;
border-radius: 50%;
}

i{
    color: white;
}

