body{
    font-family: 'Work Sans', sans-serif;
}

.header{
    background-color: #F3C6BD;
    padding: 30px 0;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

.logo > div:first-child{
    margin-right: 15px;
}

.logo-bold{
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: #2B292D;
}

.logo-regular{
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0.6);
}

.header-nav{
    display: flex;
    align-items: center;
}

.header-li{
    display: inline-block;
}

.header-li:not(:last-child){
    margin-right: 20px;
}

.header-li > a{
font-size: 18px;
line-height: 25px;
color: #2B292D;
text-decoration: none;
}

.header-li > a:hover{
    font-weight: bold;
}

.header-nav > div{
    margin-left: 75px;
}

.button{
    border: none;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
    cursor: pointer;
    padding: 17px 28px;
    border-radius: 2px;
    transition: transform .2s ease-in-out;
}

.button:hover{
    background: white;
    color:#3040C4;
    transition: transform .2s ease-in-out;;
    font-weight: bold;

}

.pre-logo{
    background: #F4F5F7;
}

.post-header{
    display: flex;
    max-width: 1140px;
    padding: 77px 130px;
}

.txt{
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}

.bold{
    font-weight: bold;
}

.logos{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 117px 0;
}

.post-header > div:not(:last-child){
    margin-right: 30px;
}

.post-header > div{
    max-width: 555px;
}

.visitors{
    background: rgba(0,161,198,0.07);
    mix-blend-mode: normal;
    padding: 110px 130px;
}

.text{
    max-width: 555px;
    text-align: center;
    margin: 0 auto;
    color: #2B292D;
}

.manage{
    background-color: rgba(252,240,227,0.4);;
    padding: 115px 0 144px 0;
}

.manage-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pre-title__red{
    color: #F1592B;
}

.text-normal__manager{
    max-width: 462px;
}

.box-white{
    background-color: white;
    padding: 25px 0 25px 0;
    border-bottom: 4px solid #0185D0;
}

.box-white__text{
    max-width: 519px;
    font-size: 20px;
    line-height: 28px;
}

.box-white__logo{
    display: flex;
    margin-top: 25px;
}

.box-white__logo > img{
    margin-right: 10px;
}

.text-mini__bold{
    font-weight: bold;
    
}

.text-mini__logo{
    font-size: 16px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
  
}

.manage__info{
    max-width: 519px;
}

.busy{
    padding: 100px 0;
}

.busy-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-busy{
    max-width: 462px;
}

.pre-title{
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 24px;
    font-weight: bold;
}

.pre-title__blue{
    color: #0189D1
}

.title{
    font-size: 56px;
    line-height: 56px;
    font-weight: bold;
    color: #2B292D;
    margin: 0 auto;
}

.info{
    padding: 40px 0 105px;
}

.info-flex{
    display: flex;
    justify-content: space-between;
}
  
.text-info{
    font-size: 18px;
    line-height: 26px;
    max-width: 360px;
    margin-bottom: 10px;
}

.text-info > span{
    font-weight: bold;
}

.link-info{
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    text-decoration: underline;
    color: #3142C6;    
}

.title-visit{
text-align: center;
letter-spacing: -0.5px;
}

.text-normal{
    font-size: 24px;
    line-height: 34px;
    margin: 30px 0;
}

.wrapper-visit{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-columns: minmax(262px, auto);
    gap: 30px;
    margin-top: 111px;
 }

.item-visit{
    height: 300px;
    border-radius: 8px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #FFFFFF;
    text-align: center;
    cursor: pointer;
    transition-duration: 2s;
    transition-timing-function: linear;
    color: #2B292D;
}


.item-visit > img{
    margin: 22px auto;
}

.item-visit:hover{
    color: white;
    background: #3040c4;
    transition-duration: 2s;
    transition-timing-function: linear;
}


.text-name{
    font-size: 22px;
    font-weight: bold;
    line-height: 28px;
}

.cover{
    background-color:#F2F2F2;;
    padding: 90px 0;
}

.title-cov{
    color: black;
    margin-bottom: 26px;
    text-align: center;
  }

.text-cov{
   color: #172342;
   max-width: 554px;
   margin: 0 auto;
}

.wrapper-cover{
    display: grid;
    grid-template-areas: 
    "one two three"
    "four five three"
    "four six seven";
    column-gap: 50px;
    row-gap: 41px;
    margin-top: 96px;
}

.wrapper-cover > img:nth-child(1){
    grid-area: one;
}

.wrapper-cover > img:nth-child(2){
    grid-area: two;
}

.wrapper-cover > img:nth-child(3){
    grid-area: three;
}

.wrapper-cover > img:nth-child(4){
    grid-area: four;
}

.wrapper-cover > img:nth-child(5){
    grid-area: five;
}

.wrapper-cover > img:nth-child(6){
    grid-area: six;
}

.wrapper-cover > img:nth-child(7){
    grid-area: seven;
}

.wrapper-cover > img{
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

.trial{
    background: #F4F5F7;
    padding: 73px 0;
}

.trial-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title-trial{
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.25px;
}

.trial-flex__inform > p{
    text-align: left;
    margin-top: 15px;
}

.input-trial{
    width: 385px;
    border: 1px solid rgba(43, 41, 45, 0.2);
    box-sizing: border-box;
    border-radius: 2px;
    margin: 25px 0 10px 0;
    padding: 13px 0 12px 15px;
    font-size: 18px;
}

.input-trial:focus{
    outline: none;
}

.input-trial::placeholder{
    font-size: 18px;
  
    color: #2B292D;
}

.text-mini{
    font-size: 14px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
}

.animation-img{
    animation-name: img;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: relative;
}

.footer{
    padding: 90px 0 40px 0;
}

.footer-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 60px;
}

.foundation{
    display: block;
    max-width: 360px;
}

.logo-regular__footer{
    margin: 26px 0;
}

.bold-footer{
    max-width: 265px;
    font-size: 22px;
    font-weight: bold;
    line-height: 28px;
}

.footer-list{
    display: flex;
    justify-content: space-around;
}

.footer-li{
    font-size: 18px;
    line-height: 30px;
    color: rgba(43, 41, 45, 0.6);
}

.footer-li:hover{
    text-transform: none;
}

.product{
    margin-right: 50px;
}

.link-bottom > a{
    size: 14px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
    text-decoration: none;
}

.footer-black-link > a:first-child{
    margin-right: 10px;
    text-decoration: none;
}

.footer-hr{
    height: 1px;
    width: 100%;
    background: rgba(43, 41, 45, 0.1);
}

.link-bottom > a:not(:last-child) {
    margin-right: 25px;
}

.footer-bottom-flex{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.icon-bottom > a:not(:last-child) {
    margin-right: 15px;
    text-decoration: none;
}

.footer-list-adapt{
    display: none;
}

@keyframes img{
    0%{
        top: 0;
    } 
    25%{
        top: -25px;
    }
    50%{
        top: -50px;
    }
    75%{
        top: -25px;
    }
    100%{
        top: 0;
    }
}




@media (max-width: 1200px){
    .container{
        max-width: 1050px;
    }

    .header{
        padding: 15px 0;
    }

    .busy{
        padding: 80px 0;
    }

    .text-info{
        max-width: 320px;
    }
}

@media (max-width: 1090px){
   
    .header{
        display: none;
    }

    .container{
        max-width: 750px;
    }
    
    .busy-flex, .manage-flex, .nfo-flex, .trial-flex{
        flex-direction: column;
        text-align: center;
    }

    .busy-flex > div:first-of-type{
        margin-bottom: 30px;
    }

    .info{
        padding: 20px 0 50px 0;
    }

    /* .info-flex{
        flex-direction: column-reverse;
        align-items: center;
      
    } */

    .info-flex > div:not(:first-of-type){
        margin-bottom: 30px;
    }
    .visitors{
        padding: 75px 0;
    }
    .wrapper-visit {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 65px;
        row-gap: 35px;
        margin-top: 75px;
    } 
    /* .trial-flex{
        flex-direction: column;
        text-align: center;
    } */
        
}

@media (max-width: 800px){
    
    .container{
        max-width: 500px;
    }

    .txt {
        font-size: 20px;
        line-height: 28px;
        max-width: 380px;
    }
       
    .post-header{
        flex-direction: column;
        align-items: center;
    }

    .post-header > div:not(:last-child) {
        margin: 0 auto;
        margin-bottom: 30px;
    }
 
    .logos{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr); 
        grid-gap: 30px;
        padding: 30px 0;
    }

    .logos > img{
        margin: 0 auto;
    }

    .manage{
        padding: 75px 0 144px 0;
    }
    
    .busy{
        padding: 55px 0 20px o;
    }

    .busy-flex{
        flex-direction: column;
        text-align: center;
    }

    .busy-flex > div:first-of-type{
        margin-bottom: 30px;
    }

    .trial{
        padding: 35px 0;
    }

    .pre-title{
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 15px;
    }

    .title{
        font-size: 52px;
        line-height: 52px;
    }

    .text-normal{
        font-size: 22px;
        line-height: 28px;
        margin: 20px auto;
        max-width: 480px;
    }

    .wrapper-visit{ 
        margin-top: 55px;
    }

    .info{
        padding: 20px 0 50px 0;
    }

    .info-flex{
        flex-direction: column-reverse;
        align-items: center;
    }

    .info-flex > div:not(:first-of-type){
        margin-bottom: 30px;
    }

    .visitors{
        padding: 50px 0;
    }

    .cover {
        padding: 55px 0;
    }

    .wrapper-cover{
        display: grid;
        grid-template-areas: 
        "one three"
        "two three"
        "four five"
        "four six";
        column-gap: 20px;
        row-gap: 15px;
        margin-top: 50px;
    }

    .wrapper-cover > img:nth-child(7){
        grid-area: seven;
        display: none;
    }

    .footer{
        padding: 30px 0 15px 0;
    }

    .footer-info, .foundation{
        flex-direction: column;
    }

    .animation-img{
        margin-top: 30px;
    }

    .logo__footer{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        
    }

    .logo > div:first-child {
        margin-right: 0;
    }

    .logo-regular__footer, .footer-black-link{
        text-align: center;
    }

    
.footer-list{
    display: none;
}
    
    .footer-list-adapt{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

}

@media (max-width: 550px){

    .container{
        max-width: 430px;
    }

    .busy{
        padding: 50px 0;
    }
   
    .busy-flex > div:first-of-type{
        margin-bottom: 50px;
    }
    .title{
        font-size: 48px;
        line-height: 48px;
    }

    .text-info{
        max-width: 100%;
    }

    .animation-img__one, .busy img, .trial img{
        width: 100%;
    }

    .info{
        padding: 10px 0 35px 0;
    }

    .text-normal{
        font-size: 22px;
        line-height: 26px;
        max-width: 390px;
    }

    .visitors{
        padding: 45px 0;
    }

    .wrapper-visit {
        column-gap: 25px;
        row-gap: 15px;
        margin-top: 45px;
    } 


}

@media (max-width: 480px){
    .container{
        max-width: 310px;
    }

    .logos img{
        max-width: 100%;
    }

    .logos{
        grid-column-gap: 45px;
        grid-row-gap: 25px;
}
    
    .busy{
        padding: 35px 0;
    }

    .title{
        font-size: 40px;
        line-height: 40px;
    }

    .text-normal{
        line-height: 36px;
        max-width: 280px;
    }

    .visitors{
        padding: 45px 0;
    }
       .wrapper-visit {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 15px;
        margin-top: 45px;
    } 

    .wrapper-cover > img:nth-child(2){
        grid-area: twq;
        display: none;
    }

    .wrapper-cover{
        display: grid;
        grid-template-areas:
        "one"
        "four"
        "three"
        "five"
        "six";
        row-gap: 15px;
        grid-auto-columns: 100%;
        margin-top: 30px;
    }

    .button{
        padding: 17px 38px;
    }

    .button:not(:last-child) {
        margin-bottom: 15px;
    }

    .txt{
        font-size: 18px;
        line-height: 24px;
    }
}

@media (max-width: 360px){
    .container{
        max-width: 280px;
    }

    .trial-flex{
        max-width: 270px;
    }

    .trial-flex__inform{
        max-width: 230px;
        text-align: center;
    }
    .manage {
        padding: 35px 0;
    }

    .manage__info{
        max-width: 266px;
        text-align: left;
    }

    .input-trial, .button__trial{
        width: 230px;
      }

    .post-header{
        padding: 30px;
    }

    .txt {
        font-size: 18px;
        line-height: 32px;
    }

    .footer-hr{
        display: none;
    }

    .footer-list-adapt{
        display: none;
    }

    .footer-list{
        display: block;
    }

    .footer-bottom-flex{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .icon-bottom{
        padding-top: 25px;
    }

    .bold-footer{
        padding: 25px;
    }

}

@media (max-width: 320px){
    .container{
        max-width: 230px;
    }

    .post-header{
        padding: 20px;
    }

    .txt {
        font-size: 16px;
        line-height: 22px;
    }

    .link-info{
        font-size: 14px;
    }

    .footer-black-link{
        display: flex;  
    }

}
